@import "tailwindcss";

:root {
  --background: #f7f7f7;
  --foreground: #18181b;
  --muted: #52525b;
  --border: #d4d4d8;
  --surface: #e9e9e9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #141414;
    --foreground: #f4f4f5;
    --muted: #a1a1aa;
    --border: #27272a;
    --surface: #202020;
  }
}

:root[data-theme="light"] {
  --background: #f7f7f7;
  --foreground: #18181b;
  --muted: #52525b;
  --border: #d4d4d8;
  --surface: #e9e9e9;
}

:root[data-theme="dark"] {
  --background: #141414;
  --foreground: #f4f4f5;
  --muted: #a1a1aa;
  --border: #27272a;
  --surface: #202020;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-mono), monospace;
}

.text-xs {
  font-size: 12px;
}
