body {
  margin: 0px;
  font-family: "Nunito Sans", sans-serif;
  /* font-weight: lighter; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  color: #666666;
}

ul {
  padding-inline-start: 5px;
}

a {
  color: #ed573d;
}

.Header {
  height: 100px;
  background-color: #ffffff;
  display: flex;
  padding-left: 10%;
  align-items: center;
}

.Header h2 {
  color: #ed573d;
}

.Navigation {
  margin-left: auto;
  margin-right: 10%;
  width: 250px;
  display: flex;
  flex-direction: row;
}

.Navigation h5 {
  margin: 0px 7px;
  font-size: 15px;
  cursor: pointer;
}

.Footer {
  height: 100px;
  width: 100%;
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.Home {
  width: 100%;
}

.Home .banner {
  margin-top: 30px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.Home .banner h1 {
  text-align: center;
}

.Home .banner div > h3 {
  color: #ed573d;
  text-align: center;
}

.Home .banner div > h5 {
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
}

.Home .AboutMe {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.Home .AboutMe p {
  font-size: 16px;
  text-align: start;
  line-height: 2;
  word-spacing: 2px;
}


span {
  color: #ed573d;
}

.Jobdescription {
  margin: 0px;
}

.Skills {
  width: 100%;
}

.Skills .banner {
  margin-top: 50px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.Skills .banner h1 {
  font-weight: lighter;
  text-align: center;
}

.Skills .banner div > h3 {
  color: #ed573d;
  text-align: center;
}

.Skills .Info {
  padding: 25px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.Skills .Info p {
  margin-top: 50px;
  font-size: 18px;
  /* font-weight: 500; */
  text-align: start;
  line-height: 2;
}

.Skills .Info span {
  color: #ed573d;
}

.Skills .CardContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 80%;
  margin: 20px auto;
}

.Skills .Card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 60px;
  width: 100px;
  margin: 10px;
}

.Lab {
  width: 100%;
}

.Lab .banner {
  margin-top: 50px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.Lab .banner h1 {
  font-weight: lighter;
  text-align: center;
}

.Lab .banner div > h3 {
  color: #ed573d;
  text-align: center;
}

.Lab .Projects {
  padding: 25px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.Lab .Projects p {
  margin-top: 20px;
  font-size: 16px;
  /* font-weight: 500; */
  text-align: start;
  line-height: 2;
}

.project-slider {
  -webkit-box-shadow: 0px 0px 8px 1px rgba(226,226,226,1);
  -moz-box-shadow: 0px 0px 8px 1px rgba(226,226,226,1);
  box-shadow: 0px 0px 8px 1px rgba(226,226,226,1);
}

pre {
  font-size: 12px;
  line-height: 1.25;
  background: #f3f3f3;
  border-radius: 3px;
  overflow-x: auto;
}

li {
  font-size: 15px;
  font-weight: lighter;
  color:#666666;
  margin-top: 30px;
}

.timeline {
  margin-top: 70px;
}

.timeline-item {
  max-width: 650px;
  min-height: 200px;
  font-size: 1em;
  line-height: 1.75em;
  border-top: 3px solid;
  border-image: linear-gradient(to right, #ed573d 0%, #f7c53d 100%);
  border-image-slice: 1;
  border-width: 3px;
  margin: 0;
  padding: 40px;
  counter-increment: section;
  position: relative;
  color: black;
}

.timeline-item::before {
  content: counter(section);
  position: absolute;
  border-radius: 50%;
  padding: 10px;
  height: 1.25em;
  width: 1.25em;
  background-color: black;
  text-align: center;
  line-height: 1.25em;
  color: white;
  font-size: 1em;
}

.timeline-item:nth-child(odd) {
  border-right: 3px solid;
  padding-left: 0;
}

.timeline-item:nth-child(odd)::before {
  left: 100%;
  margin-left: -20px;
}

.timeline-item:nth-child(even) {
  border-left: 3px solid;
  padding-right: 0;
}

.timeline-item:nth-child(even)::before {
  right: 100%;
  margin-right: -20px;
}

.timeline-item:first-child {
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.timeline-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.span-code {
  font-size: 14px;
  border-radius: 2px;
  padding: 5px;
  background-color: rgb(238, 238, 238);
  color: rgb(51, 51, 51);
  font-family: monospace;
  margin: 0px 5px;
}